<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="utf-8">
	<title>Team 5 VMS</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />

  </head>
  
  <body>
  <div th:fragment="menu-student">
   <div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team 5 VMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/student/booking/options}">New Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/student/booking/history}">Booking History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/report/save}">File a report</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" th:href="@{/student/checkin/{bookingId}(bookingId=${booking.id})}">Check-In</a>
        </li>-->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-danger" th:href="@{/logout}">Logout</button>
        </li>
    </div>
  </div>
</nav>
</div>
  </div>
  
  <div th:fragment="menu-admin">
   <div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team 5 VMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/bookings}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/rooms/create}">Create room</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/rooms/list}">Room List</a>
        </li>
      </ul>
     <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-danger" th:href="@{/logout}">Logout</button>
        </li>
    </div>
  </div>
</nav>
</div>
  </div>
  
  <div th:fragment="menu-admin-room">
   <div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team 5 VMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/bookings}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/rooms/create}">Create room</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/rooms/list}">Room List</a>
        </li>
      </ul>
      <form class="form-inline" role="search" action="#" th:action="@{/admin/rooms/search}" method="get">
						<input class="form-control mr-sm-2" type="text" placeholder="Search..." th:value="${searchStr != null} ? ${searchStr} : ''"
							name="searchRoom" />
						
						<select class="form-control mr-sm-2" name="facility">
							<option class="dropdown-item" th:each="facility : ${checkBoxFacilities}" th:value="${facility.name}"
								th:text="${facility.name}"></option>
						</select>
						<select class="form-control mr-sm-2" name="availability">
							<option class="dropdown-item" value="0">Open</option>
							<option class="dropdown-item" value="1">Full</option>
						</select>
						<button class="btn btn-primary" type="submit">Search</button>
					</form>
	<ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-danger" th:href="@{/logout}">Logout</button>
        </li>
	</ul>
    </div>
  </div>
</nav>
</div>
  </div>
  </body>
</html>