<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />

<body>
<div th:replace="fragments/general.html :: menu-student"></div>

<div >
  <div class="container">
    <div class="row" style="margin-top:100px;">
      <div class="col" align="center">
        <img src="/image/no-data.png">
      </div>
    </div><br>
    <div class="row">
      <div class="col" style="text-align:center;">
        <h5>There are no booking in progress, so you can not extend or report booking.</h5>
      </div>
    </div>
  </div>
</div>


</html>