<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/general.html :: headerfiles"/>-->

<body>
	<!--<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>-->

	<h2 th:if="${not #lists.isEmpty(facilities)}">Booking List</h2>
	<table th:if="${not #lists.isEmpty(facilities)}">
		<tr>
			<th>Room Name</th>
			<th>Slot</th>
			<th>Status</th>
		</tr>
		<tr th:each="booking:${bookings}">
			<td th:text=${}></td>
			<td th:text=${}></td>
			<td th:text=${booking.status}></td>
		</tr>
	</table>
	<br />
	<!--<div th:replace="fragments/general.html :: footer"></div>-->
</body>

</html>
