<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>

	<div th:if="${#strings.isEmpty(booking)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Booking Summary</h4>
				</div>

			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>There are no new bookings.</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${not #strings.isEmpty(booking)}">
		<div class="card bg-light mt-5 mx-auto" style="max-width: 30rem;">
			<div class="card-header text-center">Booking Summary</div>
			<div class="card-body">
				<h5 class="card-title" th:text="${booking.room.roomName}">
				</h5>
				<div class="mx-auto text-center">
					<span>Booking Date and Time: </span>
					<span th:text="${booking.date}" /></span>
					<span th:text="${booking.time}"></span>
				</div>
				<div class="mx-auto text-center">
    <span>Booking Status: </span>
    <span th:text="${booking.status}"></span></div>
    <div class="mx-auto text-center" th:if="${outcomeMsg}!= null">
    <span>Extension Request Outcome: </span>
	<span th:text="${outcomeMsg}"></span></span>
    </div>
				<br />
				<div class="mx-auto text-center">
					<a th:href="@{/student/booking/history}" class="btn btnblue">Back</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>