<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Team 5 VMS</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap/js/popper.min.js"></script>
	<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/bootstrap/js/jquery.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<style>
		p {
			color: red;
		}

		.btnblue {
			background-color: #003062;
			color: white;
		}

		.btnblue:hover {
			background-color: white;
			color: #003062;
			border-color: #003062;
		}

		html {
			position: relative;
			min-height: 100%;
		}

		body {
			margin-bottom: 100px;
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 56px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light navbar-light">
		<img src="/image/logo.png" height="60px" style="vertical-align:middle;">
		<nav class="my_menu navbar navbar-expand-sm navbar-light bg-light">
		</nav>
	</nav>
	<div class="container w-25 p-5">
		<form role="form" th:action="@{/login/authenticate}" method="post" th:object=${account}>
			<p th:if="${repeatlogin}">*Incorrect Username or Password!</p>
			<div class="form-outline mb-4">
				<input type="text" th:field="*{username}" class="form-control" />
				<label class="form-label" for="username">Username</label>
			</div>
			<div class="form-outline mb-4">
				<input type="password" th:field="*{password}" class="form-control" />
				<label class="form-label" for="password">Password</label>
			</div>
			<input type="submit" class="btn btnblue" value="Login">
		</form>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>