<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div class="container">
		<div class="row mt-5">
			<div class="col-3"></div>
			<div class="col-6">
				<h5>Report Misuse</h5>
				<form action="#" th:action="@{/student/report/save}" method="post" enctype="multipart/form-data">
					<table class="table table-borderless" align="center">
						<tbody>
							<tr>
								<td>
									<fieldset>
										<input type="hidden" name="bookingid" th:value="${booking.id}" />
									</fieldset>
								</td>
							</tr>
							<tr>
								<td><span th:text="Details"></span></td>
								<td>
									<fieldset>
										<input type="text" name="details" />
									</fieldset>
								</td>
							</tr>
							<tr>
								<td><span th:text="Photo"></span></td>
								<td>
									<fieldset>
										<input type="file" name="file" />
									</fieldset>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<fieldset>
										<input type="submit" value="Submit" class="btn btnblue" />
									</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>