<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="fragments/general.html :: menu-admin"></div>
	<div th:if="${#lists.isEmpty(rooms)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Room List</h5>
				</div>
			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>No Rooms.</h5>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/admin/rooms/create}" class="btn btnblue">Add New Room</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${not #lists.isEmpty(rooms)}">
		<div class="container">

			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Room List</h4>
				</div>
				<div class="col-1"></div>
				<div class="col-8 mt-3">
					<form class="form-inline" role="search" action="#" th:action="@{/admin/rooms/search}" method="get">
						<input class="form-control mr-sm-2" type="text" placeholder="Search..."
							th:value="${searchStr != null} ? ${searchStr} : ''" name="searchRoom" />

						<select class="form-control mr-sm-2" name="facility">
							<option class="dropdown-item" th:each="facility : ${checkBoxFacilities}"
								th:value="${facility.name}" th:text="${facility.name}"></option>
						</select>
						<select class="form-control mr-sm-2" name="availability">
							<option class="dropdown-item" value="0">Open</option>
							<option class="dropdown-item" value="1">Full</option>
						</select>
						<button class="btn btnorange" type="submit">Search</button>
						<a th:href="@{/admin/rooms/create}" class="btn btnblue" style="margin-left: 20px;">Add New Room</a>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped" align="center">
						<thead>
							<tr class="listHeading">
								<th>Name</th>
								<th>Facilities</th>
								<th>Capacity</th>
								<th>Availability</th>
								<th>Start Time</th>
								<th>Duration</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="room:${rooms}">
								<td th:text=${room.roomName}></td>
								<td>
									<ul th:each="fac:${room.facilities}">
										<li th:text="${fac.name}"></li>
									</ul>
								</td>
								<td th:text=${room.capacity}></td>
								<td th:text="${room.availability} ? 'OPEN' : 'CLOSED'"></td>
								<td th:text=${room.blockedStartTime}></td>
								<td th:text=${room.blockDuration}></td>
								<td><a href="" th:href="@{/admin/rooms/edit/}+${room.id}">Edit</a></td>
								<td th:if="${not roomids.contains(room.id)}">
									<a href="" th:href="@{/admin/rooms/delete/}+${room.id}">Delete</a>
								</td>
								<td th:unless="${not roomids.contains(room.id)}">
									<span>-</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>