<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles"/>
	<title>VMS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="fragments/general.html :: menu-admin"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form action="#" th:action="@{/admin/rooms/edit}" th:object="${room}" method="post">
					<fieldset>
						<input type="hidden" th:field="*{id}" name="id" />
					</fieldset>
					<h5 style="text-align:center;">Editing Room ID : <span th:text="${room.id}"></span></h5>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<td><span th:text="#{fieldLabel.name}"></span></td>
								<td>
									<fieldset><input type="text" th:field="*{roomName}" /></fieldset>
								</td>
								<td th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.facilities}"></span></td>
								<td>
									<fieldset>
										<input type="checkbox" name="facilities" th:each="facility : ${fList}"
											th:text="${facility.name} + #{fieldLabel.space}" th:value="${facility.id}"
											th:field="*{facilities}" />
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('facilities')}" th:errors="*{facilities}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.capacity}"></span></td>
								<td>
									<fieldset><input type="number" th:field="*{capacity}" min="1" max="10" /></fieldset>
								</td>
								<td th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.availability}"></span></td>
								<td>
									<select name="availability" th:field="*{availability}">
										<option th:each="availability : ${availabilities}" th:value="${availability}"
											th:text="${availability} ? 'OPEN' : 'FULL'"></option>
									</select>
								</td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.blockedStartTime}"></span></td>
								<td>
									<fieldset><input type="time" th:field="*{blockedStartTime}" /></fieldset>
								</td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.blockDuration}"></span></td>
								<td>
									<fieldset><input type="number" th:field="*{blockDuration}" min="1" max="10" />
									</fieldset>
								</td>
							</tr>
							<tr>
								<td>
									<div style="padding-top:15px;">
										<a th:href="@{/admin/rooms/list}">Back</a>
									</div>
								</td>
								<td>
									<fieldset>
										<input type="submit" value="Update" class="btn btnblue" />
									</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>