<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>VMS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:if="${#lists.isEmpty(rooms)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Room List</h4>
				</div>

			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h4>There are no rooms yet.</h4>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/admin/rooms/create}">Add New Room</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${not #lists.isEmpty(rooms)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Room List</h4>
				</div>
				<div class="col-6"></div>
				<div class="col-3" style="margin-top: 20px; margin-bottom: 20px; text-align:right;">
					<h5 style="text-decoration: underline;"><a th:href="@{/admin/rooms/create}">Add Room</a>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped" align="center">
						<thead>
							<tr class="listHeading">
								<th>Name</th>
								<th>Facilities</th>
								<th>Capacity</th>
								<th>Availability</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="room:${rooms}">
								<td th:text=${room.roomName}></td>
								<td th:each="fac:${room.facilities}">
								<span th:text="${fac.name}">&nbsp;</span>
								</td>
								<td th:text=${room.capacity}></td>
								<td th:text=${room.availability}></td>
								<td><a href="" th:href="@{/admin/rooms/edit/}+${room.id}">Edit</a></td>
								<td><a href="" th:href="@{/admin/rooms/delete/}+${room.id}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>