<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/general.html :: headerfiles"/>-->

<head th:replace="fragments/general.html :: headerfiles" />
<style>
	.card:hover {
		transform: scale(1.1);
	}

	.card {
		transition: transform .5s;
	}
</style>

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div th:if="${#lists.isEmpty(bookings)}">
		<div class="container">
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>No slots available</h5>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/student/booking/options}" class="btn btnblue">Re-select filter options</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${outcomeMsg!=null}"><span th:text="${outcomeMsg}"></span></div>
	<div th:unless="${#lists.isEmpty(bookings)}">
		<div class="container">
			<div class="row">
				<div class="col" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Available rooms according to your preferences!</h5>
					<h5>Please select the room to book.</h5>
				</div>
			</div>
			<!--<div class="row">
				<div class="col">
					<table class="table table-striped" align="center">
						<thead>
							<tr class="listHeading">
								<th>Room Name</th>
								<th>Start Time</th>
								<th>Duration</th>
								<th>Selection</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="booking:${bookings}">
								<td th:text=${booking.room.roomName}></td>
								<td th:text=${booking.time}></td>
								<td th:text=${booking.duration}></td>
								<td>
									<form action="#" th:action="@{/student/booking/save}" method="post">
										<input type="hidden" name="roomid" th:value="${booking.room.id}" />
										<input type="hidden" th:value="${booking.room.roomName}"
											th:field="${booking.room.roomName}" />
										<input type="hidden" th:value="${booking.date}" th:field="${booking.date}" />
										<input type="hidden" th:value="${booking.time}" th:field="${booking.time}" />
										<input type="hidden" th:value="${booking.duration}"
											th:field="${booking.duration}" />
										<input type="submit" value="Book" class="btn btnblue" />
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>-->
			<div class="row">
				<div class="col-3 text-center" th:each="booking:${bookings}">
					<!--<div class="card mb-4 box-shadow" style="height:320px;">
					<div class="card-header">-->


					<div class="card-deck mb-3 text-center">
						<div class="card mb-4 shadow" style="height:320px;">
							<div class="card-header">
								<h5 th:text="${booking.room.roomName}"></h5>
							</div>
							<div class="card-body">
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.blockedStartTime}">
								</span><br>
								<span class="card-text text-center" th:text="${booking.time}">
								</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.blockDuration}">
								</span><br>
								<span class="card-text text-center" th:text="${booking.duration} + #{fieldLabel.min}">
								</span><br>
								<form action="#" th:action="@{/student/booking/save}" method="post">
									<input type="hidden" name="roomid" th:value="${booking.room.id}" />
									<input type="hidden" th:value="${booking.date}" th:field="${booking.date}" />
									<input type="hidden" th:value="${booking.time}" th:field="${booking.time}" />
									<input type="hidden" th:value="${booking.duration}"
										th:field="${booking.duration}" />
									<input type="submit" value="Book" class="btn btn-block btnorange mt-5" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>