<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/general.html :: headerfiles"/>-->

<body>

<div th:if="${outcomeMsg!=null}"><span th:text = "${outcomeMsg}"></span></div>

<form th:action="@{/student/booking/save}"  method="post">
	<table>
		<tr>
			<th>Room Name</th>
			<th>Start Time</th>
			<th>Duration</th>
		</tr>
		<fieldset>
		<input type="checkbox" name="booking" th:each="booking:${bookings}"
									th:text="${booking.name}" th:value="${booking.id}" th:field="${booking.id}" />
		<tr th:each="booking:${bookings}">
			<td th:text=${booking.room.roomName}></td>
			<td th:text=${booking.time}></td>
			<td th:text=${booking.duration}></td>
		</tr>
		</fieldset>
	</table>
</fieldset>

				<p>
					<input type="submit" value="Submit Booking" class="btn btn-primary" />
				</p>
			</form>
	<br />
	<!--<div th:replace="fragments/general.html :: footer"></div>-->
</body>

</html>
