<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
<link rel="stylesheet" th:href="@{/css/mycarousel.css}" />
<style>
	.card:hover {
		transform: scale(1.1);
	}

	.card {
		transition: transform .5s;
	}
</style>
</head>

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>

	<!--<div class="container">
		<div class="row">
			<div th:if="${bookingOfTheDay != null}" class="col-3">
				<div class="row mt-5">
					<div class="col mb-3">
						<h5>Booking Detail</h5>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="card mb-4 box-shadow">
							<div class="card-header">
								<h5>Booking In Progress</h5>
							</div>
							<div class="card-body">
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.roomName} + ' : '">
								</span>
								<span class="card-text text-center" th:text="${bookingOfTheDay.room.roomName}">
								</span><br><br>
								<span class="card-text text-center font-weight-bold" th:text="#{fieldLabel.dt} + ' : '">
								</span>
								<span class="card-text text-center" th:text="${bookingOfTheDay.date}">
								</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.time} + ' : '">
								</span>
								<span class="card-text text-center" th:text="${bookingOfTheDay.time}">
								</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.blockDuration} + ' : '">
								</span>
								<span class="card-text text-center" th:text="${bookingOfTheDay.duration} + ' minutes'">
								</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.checkedIn} + ' : '">
								</span>
								<input type="checkbox" name="mycheckbox" disabled
									th:checked="${bookingOfTheDay.checkedIn}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:unless="${bookingOfTheDay != null}" class="col-3">
				<div class="row mt-5">
					<div class="col mb-3">
						<h5>Booking Detail</h5>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="card mb-4 box-shadow">
							<div class="card-header">
								<h5>Booking In Progress</h5>
							</div>
							<div class="card-body">
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.roomName} + ' : '">
								</span>
								<span class="card-text text-center">-</span><br><br>
								<span class="card-text text-center font-weight-bold" th:text="#{fieldLabel.dt} + ' : '">
								</span>
								<span class="card-text text-center font-weight-bold">-</span>
								<span class="card-text text-center">-</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.time} + ' : '">
								</span>
								<span class="card-text text-center">-</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.blockDuration} + ' : '">
								</span>
								<span class="card-text text-center">-</span><br><br>
								<span class="card-text text-center font-weight-bold"
									th:text="#{fieldLabel.checkedIn} + ' : '">
								</span>
								<input type="checkbox" name="mycheckbox" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

	<div class="container">
		<div class="row mt-5">
			<div class="col-3 mb-3">
				<h5>Available Rooms</h5>
				<p th:if="${#lists.isEmpty(bookings)}">No Rooms Available</p>
			</div>
		</div>
		<div class="row" th:if="not ${#lists.isEmpty(bookings)}">
			<div class="container">
				<div id="carouselExampleControls" class="carousel carousel-dark slide" data-ride="carousel"
					data-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active" th:if="not ${#lists.isEmpty(bookingsCarousel1)}">
							<div class="card-wrapper">
								<div class="card mycarousel-card" style="width: 18rem;"
									th:each="booking:${bookingsCarousel1}">
									<div class="card-header">
										<h5 th:text="${booking.room.roomName}"></h5>
									</div>
									<div class="card-body">
										<span "card-text text-center"
											th:if="${#lists.isEmpty(booking.room.facilities)}">
											<span class="card-text text-center font-weight-bold">Facilities :
											</span>
											<span class="card-text text-center">&nbsp;NA
											</span><br>
										</span>
										<span "card-text text-center"
											th:if="${not #lists.isEmpty(booking.room.facilities)}">
											<span class="card-text text-center font-weight-bold">Facilities : </span>
											<span class="card-text text-center">
												<ul class="list-unstyled mt-3 mb-4"
													th:each="fac:${booking.room.facilities}">
													<li th:text="${fac.name}"></li>
												</ul>
											</span>
										</span>
										<span class="card-text text-center font-weight-bold"
											th:text="#{fieldLabel.rmcapacity}">
										</span>
										<span class="card-text text-center" th:text="${booking.room.capacity}">
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item" th:each="bookingC:${bookingsCarousel}">
							<div class="card-wrapper">
								<div class="card mycarousel-card" style="width: 18rem;" th:each="booking:${bookingC}">
									<div class="card-header">
										<h5 th:text="${booking.room.roomName}"></h5>
									</div>
									<div class="card-body">
										<span "card-text text-center"
											th:if="${#lists.isEmpty(booking.room.facilities)}">
											<span class="card-text text-center font-weight-bold">Facilities :
											</span>
											<span class="card-text text-center">&nbsp;NA
											</span><br>
										</span>
										<span "card-text text-center"
											th:if="${not #lists.isEmpty(booking.room.facilities)}">
											<span class="card-text text-center font-weight-bold">Facilities : </span>
											<span class="card-text text-center">
												<ul class="list-unstyled mt-3 mb-4"
													th:each="fac:${booking.room.facilities}">
													<li th:text="${fac.name}"></li>
												</ul>
											</span>
										</span>
										<span class="card-text text-center font-weight-bold"
											th:text="#{fieldLabel.rmcapacity}">
										</span>
										<span class="card-text text-center" th:text="${booking.room.capacity}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	</div>
	</div>
	</div>

	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>