<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form th:action="@{/student/booking/options}" method="post">
					<h5>Choose your Booking Preferences</h5>
					<table class="table table-borderless" align="center">
						<tbody>
							<tr>
								<td><span th:text="#{fieldLable.dt}"></span></td>
								<td>
									<fieldset>
										<input id="Date" type="date" name="Date" class="form-control" required="" th:field="${booking.date}" />
									</fieldset>
								</td>
								<!-- <td th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"></td> -->
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.blockedStartTime}"></span></td>
								<td>
									<fieldset>
										<input id="Time" type="time" name="Time" class="form-control" required="" th:field="${booking.time}" />
									</fieldset>
								</td>
								<!-- <td th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}"></td> -->
							</tr>
							<tr>
								<td><span th:text="#{fieldLable.pax}"></span></td>
								<td>
									<fieldset>
										<input id="Pax" type="number" name="Number of Pax" class="form-control" required="" min="1" max="10"
											th:field="${room.capacity}" />
									</fieldset>
								</td>
								<!-- <td th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}"></td> -->
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.blockDuration}"></span></td>
								<td>
									<fieldset>
										<input id="Duration" type="number" name="Duration" class="form-control" required="" min="30" max="180"
											th:field="${booking.duration}" />
									</fieldset>
								</td>
								<!-- <td th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></td> -->
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.facilities}"></span></td>
								<td>
									<fieldset>
										<div class="form-group agileits_form w3_agileits_margin">
											<div class="wthree_input">
												<input type="checkbox" name="facilities" th:each="facility : ${fList}"
													th:text="${facility.name} + #{fieldLabel.space}" th:value="${facility.id}"
													th:field="${room.facilities}" />
											</div>
										</div>
										<div class="clear"> </div>
									</fieldset>
								</td>
							</tr>

							<tr>
								<td>
								</td>
								<td>
									<button id="SaveAccount"
										class="btn btnblue agileinfo_primary submit">Submit</button>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>