<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
<style>
	p {
		color: red;
	}
</style>
</head>

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form action="#" th:action="@{/student/change-password}" th:object="${student}" method="post">
					<h5 class="mt-5">Reset Password</h5>
					<input type="hidden" th:field="*{id}">
					<p th:if="${error}">*Incorrect Current Password!</p>
					<p th:if="${notMatch}">*Password doesn't Match!</p>
					<table class="table table-borderless" align="center">
						<tbody>
							<tr>
								<td><span th:text="#{fieldLabel.oldPassword}"></span></td>
								<td>
									<fieldset>
										<input type="password" name="oldPassword" required>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.newPassword}"></span></td>
								<td>
									<fieldset>
										<input type="password" name="password" required>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.confirmPassword}"></span></td>
								<td>
									<fieldset>
										<input type="password" name="confirmPassword" required>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></td>
							</tr>
							<tr>
								<td>
									<div style="padding-top:15px;">
										<a th:href="@{/student/profile}">Back</a>
									</div>
								</td>
								<td colspan="2">
									<fieldset>
										<input type="submit" value="Save" class="btn btnblue" />
									</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>