<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/general.html :: headerfiles"/>-->

<head th:replace="fragments/general.html :: headerfiles" />

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div th:if="${#lists.isEmpty(bookings)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Room List</h5>
				</div>

			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>There are no rooms available.</h5>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/student/booking/options}" class="btn btnblue">New Booking</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${outcomeMsg!=null}"><span th:text="${outcomeMsg}"></span></div>

	<table>
		<tr>
			<th>Room Name</th>
			<th>Start Time</th>
			<th>Duration</th>
			<th>Booking Id</th>
			<th>Selection</th>
		</tr>
		<tr th:each="booking:${bookings}">
			<td th:text=${booking.room.roomName}></td>
			<td th:text=${booking.time}></td>
			<td th:text=${booking.duration}></td>
			<td th:text=${booking.id}></td>
			<td>
				<form action="#" th:action="@{/student/booking/save}" method="post">
					<input type="hidden" name="roomid" th:value="${booking.room.id}" />
					<input type="hidden" th:value="${booking.room.roomName}" th:field="${booking.room.roomName}" />
					<input type="hidden" th:value="${booking.date}" th:field="${booking.date}" />
					<input type="hidden" th:value="${booking.time}" th:field="${booking.time}" />
					<input type="hidden" th:value="${booking.duration}" th:field="${booking.duration}" />
					<input type="submit" value="Select Booking" class="btn btn-primary" />
				</form>
			</td>
		</tr>
	</table>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>