<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />

<body>
	<div th:replace="fragments/general.html :: menu-student"></div>
	<div th:if="${outcomeMsg!=null}"><span th:text="${outcomeMsg}"></span></div>
	<div th:if="${#lists.isEmpty(bookings)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Bookings</h5>
				</div>
			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>No Bookings.</h5>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/student/booking/options}" class="btn btnblue">Book Room</a>
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div th:if="not ${#lists.isEmpty(bookings)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Bookings</h5>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped" align="center">
						<thead>
							<tr class="listHeading">
								<th>Room Name</th>
								<th>Date</th>
								<th>Start Time</th>
								<th>Duration</th>
								<th>Status</th>
								<!--<th>Report</th>-->
								<th>Cancel</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="booking:${bookings}">
								<td th:text=${booking.room.roomName}></td>
								<td th:text=${booking.date}></td>
								<td th:text=${booking.time}></td>
								<td th:text=${booking.duration}></td>
								<td th:text=${booking.status}></td>
								<!--<td th:if="${booking.bookingInProgress}">
									<a th:href="@{/student/booking/report/}+${booking.id}">
										<span th:text="REPORT"></span>
									</a>
								</td>
								<td th:unless="${booking.bookingInProgress}">
									<span>-</span>
								</td>-->
								<td
									th:if="${booking.status != T(iss.team5.vms.helper.BookingStatus).REJECTED and booking.status != T(iss.team5.vms.helper.BookingStatus).CANCELLED}">
									<a th:href="@{/student/booking/cancel/}+${booking.id}">
										<span th:text="CANCEL"></span>
									</a>
								</td>
								<td
									th:unless="${booking.status != T(iss.team5.vms.helper.BookingStatus).REJECTED and booking.status != T(iss.team5.vms.helper.BookingStatus).CANCELLED}">
									<span>-</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>