<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="fragments/general.html :: menu-admin"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
			<form action="#" th:action="@{/admin/students/edit}" th:object="${student}" method="post">
				<h5 class="mt-5">Edit Student Profile</h5>
				<input type="hidden" th:field="*{id}">
				<table class="table table-borderless" align="center">
						<tbody>
							<tr>
								<td><span th:text="#{fieldLabel.firstName}"></span></td>
								<td>
									<fieldset>
										<input type="text" th:field="${student.user.firstName}" required>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"></td>
							</tr><tr>
								<td><span th:text="#{fieldLabel.lastName}"></span></td>
								<td>
									<fieldset>
										<input type="text" th:field="${student.user.lastName}" required>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.userName}"></span></td>
								<td>
									<fieldset>
										<input type="text" th:field="${student.user.groupName}" disabled>
									</fieldset>
								</td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.email}"></span></td>
								<td>
									<fieldset>
										<input type="text" th:field="${student.user.email}" disabled>
									</fieldset>
								</td>
								<td th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.groupSize}"></span></td>
								<td>
									<fieldset>
										<input type="number" th:field="${student.user.groupSize}" th:min="1" th:max="10">
									</fieldset>
								</td>
							</tr>
							<tr>
								<td><span th:text="#{fieldLabel.score}"></span></td>
								<td>
									<fieldset>
										<input type="number" th:field="${student.score}" th:min="1" th:max="10">
									</fieldset>
								</td>
							</tr>
							<tr>
								<td>
									<div style="padding-top:15px;">
										<a th:href="@{/admin/students/list}">Back</a>
									</div>
								</td>
								<td colspan="2">
									<fieldset>
										<input type="submit" value="Save" class="btn btnblue" />
									</fieldset>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>