<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles" />
<title>VMS</title>
<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:replace="fragments/general.html :: menu-admin-room"></div>
	<div th:if="${#lists.isEmpty(students)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h5>Student List</h5>
				</div>
			</div>
			<div class="row" style="margin-top:100px;">
				<div class="col" align="center">
					<img src="/image/no-data.png">
				</div>
			</div><br>
			<div class="row">
				<div class="col" style="text-align:center;">
					<h5>No Students.</h5>
					<h5 style="text-decoration: underline;">
						<a th:href="@{/admin/students/create}" class="btn btnblue">Add New Student</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div th:if="${not #lists.isEmpty(students)}">
		<div class="container">
			<div class="row">
				<div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">
					<h4>Student List</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table table-striped" align="center">
						<thead>
							<tr class="listHeading">
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
								<th>Email</th>
								<th>Score</th>
								<!--<th>Edit</th>
								<th>Delete</th>-->
							</tr>
						</thead>
						<tbody>
							<tr th:each="student:${students}">
								<td th:text=${student.user.firstName}></td>
								<td th:text=${student.user.lastName}></td>
								<td th:text=${student.user.username}></td>
								<td th:text=${student.user.email}></td>
								<td th:text=${student.score}></td>
								<!--<td><a href="" th:href="@{/admin/students/edit/}+${student.id}">Edit</a></td>
								<td>
									<a href="" th:href="@{/admin/students/delete/}+${student.id}">Delete</a>
								</td>-->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer">
		<div class="footer-copyright text-center py-3" style="color:white; background-color: #003062">
			VMS Copyright &copy; 2022
		</div>
	</footer>
</body>

</html>